
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@0;1&display=swap');


html {
    background-color: #2a2a2a;
    color: #fffef2;
}

p{

    font-family: var(--font-body);
    font-size: var(--fontSize-1);
    color: var(--color-text);
    font-family: 'Varela Round', sans-serif;
    font-size: var(--fontSize-4);
    line-height: initial;
}

a {
    /*color: #569cd6;*/
    color: #ec96dc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

