.container {
    padding-top: 5%;
    margin: auto;
    padding-left: 30%;
    padding-right: 30%;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 600px) {
    .container {
      padding-top: 0px !important;
    }

  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
    .container {
      padding-left: 15%;
      padding-right: 15%;
      padding-top: 20%;
    }
    p {
      font-size: 110% !important;
    }
    li {
      font-family: "Source Serif Pro", serif;
      font-size:1.0em !important;
      font-style: normal;
      line-height: initial;
      margin: .025em 0;
    }
    h1 {
      padding-top: 5%;
      font-size: large;
    }
  }
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }

  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }